<!-- <img src="assets/background.jpg" alt="" class="background" />
 -->
<app-background></app-background>
<app-dock class="dock"></app-dock>
<app-top-bar></app-top-bar>
<app-window-manager></app-window-manager>

@for (file of desktopFiles; track $index) {
	<app-desktop-file [file]="file"></app-desktop-file>
}
@for (sc of desktopShortcuts; track $index) {
	<app-desktop-shortcut
		[name]="sc.name"
		[url]="sc.url"
		[img]="sc.img"
	></app-desktop-shortcut>
}

<style lang="scss">
	.background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		object-fit: cover;
		z-index: -1;
	}
	.dock {
		position: fixed;
		bottom: -100px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1000;
	}
</style>
