@for (window of getWindows(); track $index) {
	@switch (window.type) {
		@case ('text') {
			<app-text-window
				[id]="window.id"
				[name]="window.file.name"
				[text]="window.file.content"
				[level]="window.level"
			></app-text-window>
		}
		@case ('settings') {
			<app-settings-window
				[id]="window.id"
				[level]="window.level"
			></app-settings-window>
		}
		@case ('project') {
			<app-project-window
				[id]="window.id"
				[level]="window.level"
				[project]="window.project"
			></app-project-window>
		}
	}
}
