<div class="app" [style]="isFiller ? 'opacity:0' : ''" (click)="onClick()">
	<div class="background" [style.background-color]="backgroundColor">
		<img [src]="project.logoSmall" [alt]="project.name" class="appImg" />
	</div>
	<p>
		<b>
			{{ project.name }}
		</b>
	</p>
</div>

<style lang="scss">
	.app {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 10px;
		p {
			margin: 5;
			font-weight: bold;
			max-width: 70px;
			text-align: center;
			font-size: 16px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
		}
	}
	.background {
		cursor: pointer;
		background-color: red;
		width: 70px;
		height: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 20%;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
		img {
			width: 50px;
		}
	}
</style>
