<app-background></app-background>
<div style="margin-left: 20px">
	<h1>Portfolio Mobile</h1>
	<p>
		This site is still under construction. Please visit the desktop version for
		now.
	</p>
	<p (click)="goToDesktop()">Go to Desktop Version</p>

	<!-- <div class="app-box">
		@for (project of projects; track $index) {
			<app-app-icon [project]="project"></app-app-icon>
		}
	</div> -->
</div>
<style lang="scss">
	.app-box {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	}
</style>
