body {
	background-color: var(--bg-color);
	color: var(--text-color);
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}

[data-theme='light'] {
	--text-color: #000;
	--bg-color: #fff;
}
[data-theme='dark'] {
	--text-color: #fff;
	--bg-color: #000;
}
