<div class="background">
	<div class="left">
		<img
			[src]="'assets/logo_small_' + (isDarkMode() ? 'white' : 'black') + '.png'"
			alt=""
			class="logo"
		/>
		<p>
			<b> Philipp Bonin Portfolio </b>
		</p>
	</div>
	<div class="right">
		@if (isDarkMode()) {
			<i
				class="bi bi-brightness-high-fill"
				style="cursor: pointer"
				(click)="toggleDarkMode()"
			></i>
		} @else {
			<i
				class="bi bi-moon-stars-fill"
				style="cursor: pointer"
				(click)="toggleDarkMode()"
			></i>
		}
		<i
			class="bi bi-phone"
			style="cursor: pointer"
			(click)="enforceMobile()"
		></i>
		<i
			class="bi bi-gear-wide-connected"
			style="cursor: pointer"
			(click)="openSettings()"
		></i>
		<i [class]="'bi bi-volume-' + sound + '-fill'"></i>
		<i class="bi bi-bluetooth"></i>
		<i [class]="'bi bi-wifi' + signal"></i>
		<p>2:05 PM</p>
	</div>
</div>

<style lang="scss">
	.background {
		display: flex;
		position: fixed;
		height: 27px;
		background-color: #ffffff4f;
		top: 0;
		left: 0;
		width: 100%;
		box-shadow: 0 0 10px 0px #000;
		backdrop-filter: blur(10px);
		z-index: 1000;
		align-items: center;
		font-size: 14px;
		flex-direction: row;
		justify-content: space-between;
		cursor: default;
		color: var(--text-color);
		.logo {
			height: 30px;
			margin-right: 5px;
		}
		.left {
			margin-left: 5px;
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		.right {
			display: flex;
			flex-direction: row;
			align-items: center;
			font-size: 14px;
			* {
				margin-right: 10px;
			}
		}
	}
</style>
