<div class="background">
	<div class="left">
		<p>Portfolio</p>
	</div>
	<div class="right">
		<p>14:05</p>
	</div>
</div>

<style lang="scss">
	.background {
		display: flex;
		position: fixed;
		height: 27px;
		background-color: #ffffff4f;
		top: 0;
		left: 0;
		width: 100%;
		box-shadow: 0 0 10px 0px #000;
		backdrop-filter: blur(10px);
		z-index: 1000;
		font-weight: bold;
		align-items: center;
		font-size: 14px;
		flex-direction: row;
		justify-content: space-between;
		.left {
			margin-left: 10px;
		}
		.right {
			margin-right: 10px;
		}
	}
</style>
